<!-- <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>QR Paper Studio</title>
</head>
<body>
    <h1>纸上码工坊</h1>
    <p>输入内容，未来这里会生成二维码。</p>

    <textarea placeholder="请输入文字、数字或网址"></textarea>
    <button>生成二维码</button>
</body>
</html>

<h1>纸上码工坊</h1>

<textarea id="qrText" placeholder="请输入文字、数字或网址"></textarea>
<button id="generateBtn">生成二维码</button>

<p id="message"></p>
<img id="qrImage" alt="生成后的二维码">

<script src="{{ url_for('static', filename='js/main.js') }}"></script> -->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>QR Paper Studio</title>
</head>
<body>
    <h1>纸上码工坊</h1>

    <textarea id="qrText" placeholder="请输入文字、数字或网址"></textarea>
    <button id="generateBtn">生成二维码</button>

    <p id="message"></p>
    <img id="qrImage" alt="生成后的二维码">

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>